
@font-face {
    font-family: "BYekan";
    src: url(fonts/Yekan.ttf) format("truetype");
}
.profile
{
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.logo
{
    padding-top: 10px;
    padding-right: 20px;
}
.vector
{
    padding-right: 5px;
    padding-top: 5px;
}
/*.listview{*/
/*    border-top-left-radius:5px ;style="padding-right: 15px"*/
/*  background: #F2F2F2;*/
/*}*/
.borderbox{
    border: 1px solid darkgrey;
    border-radius: 10px;
    background:#FFFFFF;
}
.span1
{
    background: #F2F2F2;
    padding: 0;
    margin: 0;
    height: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bgcustom1{
    background-color:#F2F2F2
}
 .basket{
 }
.header{
    background-color: #2081F2;
    color: #F2F2F2;
    font-size: 18px;
    height: 50px;
}
.bgbascket
{
    color:#FFFFFF ;
    background-color:red;
}
#crumbs ul li a {

    display: block;
    float: right;
    height: 50px;
    background: #3498db;
    text-align: center;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
#crumbs {
text-align: right;
}
#crumbs ul {
    list-style: none;
    display: inline-table;
}
#crumbs ul li {
    display: inline;
}
.icon-rtl {
    padding-right: 30px;
    float: left;
    border-radius: 5px;
    background: url(images/search.svg) no-repeat left;
    background-size: 18px;
}
.mf
{
    margin-right: 100px;
}
.table-color
{
    background-color: #2081F2;
}
*
{
 font-family: BYekan;
}
.table th
{
    border: none;

}
thead th{
    background-color: #2081F2 !important;
    color: #FFFFFF !important;
}
tbody tr  {
    border: 1px solid black ;
}

.dropdown-rtl{



    background: url(images/dropdown.svg) no-repeat left;
    background-size: 18px;

}


/*background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;*/